# Disable PHP Script Execution inside Uploads Directory
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php5.c>
    php_flag engine off
</IfModule>

# Deny execution of scripts
<FilesMatch "\.(php|php3|php4|php5|php7|phtml|phar|inc|sh|cgi|pl|py|asp|aspx|exe|htaccess)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Remove handlers
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phar .inc .sh .cgi
RemoveType .php .phtml .php3 .php4 .php5 .php7 .phar .inc .sh .cgi

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
